[submodule "PCB/pico_controller/KiCad-RP-Pico"]
	path = PCB/pico_controller/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "PCB/main/marbastlib"]
	path = PCB/main/marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "Case/BOSL2"]
	path = Case/BOSL2
	url = https://github.com/revarbat/BOSL2
[submodule "firmware/kmk_firmware"]
	path = firmware/kmk_firmware
	url = https://github.com/KMKfw/kmk_firmware
